<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ProductMapper">

    <resultMap id="ProductResultMap" type="com.example.demo.entity.Product">
        <id property="productsid" column="productsid"/>
        <result property="productsname" column="productsname"/>
        <result property="productsprice" column="productsprice"/>
        <result property="productsdescribe" column="productsdescribe"/>
        <result property="productspic" column="productspic"/>
    </resultMap>

    <select id="getAllProducts" resultMap="ProductResultMap">
        SELECT * FROM products
    </select>

    <select id="getProductById" parameterType="int" resultMap="ProductResultMap">
        SELECT * FROM products WHERE productsid = #{productsid}
    </select>

    <insert id="insertProduct" parameterType="com.example.demo.entity.Product">
        INSERT INTO products (productsname, productsprice, productsdescribe, productspic)
        VALUES (#{productsname}, #{productsprice}, #{productsdescribe}, #{productspic})
    </insert>

    <update id="updateProduct" parameterType="com.example.demo.entity.Product">
        UPDATE products
        SET productsname = #{productsname},
            productsprice = #{productsprice},
            productsdescribe = #{productsdescribe},
            productspic = #{productspic}
        WHERE productsid = #{productsid}
    </update>

    <delete id="deleteProduct" parameterType="int">
        DELETE FROM products WHERE productsid = #{productsid}
    </delete>

</mapper>
